{{template "header" .}}
    <div class="sub-title">- Article -</div>

    <h1 style="text-align: center">{{ .Data.Title }}</h1>

    <div class="article-info">
        <span>
            <img class="icon" src="/public/img/folder.svg" alt="">
            <span>
                分类于
                <a class="category" href="/category?name=/{{ .Data.Category }}">{{ .Data.Category }}</a>
            </span>
        </span>
        <span class="divider-line"></span>
        <span>
            <img class="icon" src="/public/img/date.svg" alt="">
            <span>发表于{{ .Data.Date.Format "2006-01-02 15:04" }}</span>
        </span>
    </div>
    <div id="article" class="article markdow"></div>
    <script>
        document.getElementById('article').innerHTML = marked({{  .Data.Body }});
    </script>
    <script src="/public/js/prism.js"></script>
{{template "footer" .}}
