{{template "header" .Data}}
    <div class="sub-title">- Article -</div>

    <h1>{{ .Data.Article.Title }}</h1>
    <div class="article-info">
        <a class="category" href="/category?name={{ .Data.Article.Category }}">
            <img class="icon" src="/public/img/folder.svg" alt="">
            {{ .Data.Article.Category }}
        </a>
        <div class="date">
            <img class="icon" src="/public/img/date.svg" alt="">
            {{ .Data.Article.CreatedAt.Format "2006-01-02 15:04" }}
        </div>
    </div>
    <div id="article" class="article"></div>
    <script>
        document.getElementById('article').innerHTML = marked({{  .Data.Article.Body }});
    </script>
{{template "footer" .}}