{{template "header" .}}
    <div class="sub-title">- Categories -</div>
    <div class="categories">
        {{range .Data}}
            <div class="categories-card">
                <a href="/category?name={{ .Title }}">
                    <h3><img class="icon" src="/public/img/folder.svg" alt=""> {{ .Title }} <sub>({{ .Number }})</sub></h3>
                </a>
                <article class="categories-article">
                    {{range .Article}}
                        <a href="/article?path={{ .Category }}/{{ .Title }}">{{ .Title }}</a>
                    {{end}}
                </article>
            </div>
        {{end}}
    </div>
{{template "footer" .}}