{{template "header" .}}
<div class="sub-title">- Categories > <span class="sub">{{ .Title }}</span>  -</div>

<ul class="articles">
    {{range .Data.Articles }}
        <li>
            <a class="title" href="/article?path={{ .Category }}/{{ .Title }}">{{ .Title }}</a>
            <div class="article-info">
               <a class="category" href="/category?name={{ .Category }}">
                   <img class="icon" src="/public/img/folder.svg" alt="">
                   {{ .Category }}
               </a>
                <div class="date">
                    <img class="icon" src="/public/img/date.svg" alt="">
                    {{ .CreatedAt.Format "2006-01-02 15:04" }}
                </div>
            </div>
        </li>
    {{end}}
</ul>

<ul class="pagination">
    {{range $page := .Data.PageNum }}
        <li class="{{ if eq $page $.Data.CurrentPage }}active{{end}}">
            <a href="/category?page={{ $page }}&name={{ $.Title }}">{{ $page }}</a>
        </li>
    {{end}}
</ul>
{{template "footer" .}}