{{template "header" .Data}}
<div class="sub-title">- Blog -</div>

<ul class="articles">
    {{range .Data.Pagination.Articles }}
        <li>
            <a class="title" href="/article/{{ .Category }}/{{ .Title }}">{{ .Title }}</a>
            <div class="article-info">
               <a class="category" href="/category/{{ .Category }}">
                   <img class="icon" src="/public/img/folder.svg" alt="">
                   {{ .Category }}
               </a>
                <div class="date">
                    <img class="icon" src="/public/img/date.svg" alt="">
                    {{ .CreatedAt.Format "2006-01-02 15:04" }}
                </div>
            </div>
        </li>
    {{end}}
</ul>

<ul class="pagination">
    {{range $page := .Data.Pagination.PageNum }}
        <li class="{{ if eq $page $.Data.Pagination.CurrentPage }}active{{end}}">
            <a href="/?page={{ $page }}">{{ $page }}</a>
        </li>
    {{end}}
</ul>
{{template "footer" .}}