{{template "header" .}}
<div class="sub-title">- Blog -</div>

<ul class="articles">
    {{range .Data.Markdowns }}
        <li>
            <h2>
                <a class="title" href="/article?path={{ .Path }}">{{ .Title }}</a>
            </h2>
            <div class="article-info">
            {{ if ne .Category "" }}{{/*如果文档放在根目录不会出现分类*/}}
                <span>
                    <img class="icon" src="/public/img/folder.svg" alt="">
                    <span>
                        分类于
                        <a class="category" href="/category?name=/{{ .Category }}">{{ .Category }}</a>
                    </span>
                </span>
                <span class="divider-line"></span>
            {{ end }}
                <span>
                    <img class="icon" src="/public/img/date.svg" alt="">
                    <span>发表于{{ .Date.Format "2006-01-02 15:04" }}</span>
                </span>
            </div>
            <div class="description"> {{ .Description }}...</div>
            <a class="read-all" href="/article?path={{ .Path }}" rel="contents">
                阅读全文 »
            </a>
            <div class="article-eof"></div>
        </li>
    {{end}}
</ul>

<ul class="pagination">
    {{range $page := .Data.PageNumber }}
        <li
                class="{{ if eq $page $.Data.CurrentPage }}active{{end}}"
                {{ if ne $page $.Data.CurrentPage }}onclick="goPage({{$page}})"{{end}}
        >
            <a  href="javascript:;">{{ $page }}</a>
        </li>
    {{end}}
</ul>
<script>
    var urlParams = currentUrlToParams();
    function goPage(page) {
        urlParams.page = page
        window.location.href = "/" + obj2StrParams(urlParams)
    }
</script>
{{template "footer" .}}