*{
    box-sizing: border-box;
}
html {
    font-family: josefin sans,-apple-system,BlinkMacSystemFont,helvetica neue,pingfang sc,hiragino sans gb,STHeiti,microsoft yahei,wenquanyi micro hei,Arial,Verdana,sans-serif;
}
html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

html::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #eee;
    border-radius: 0
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #ddd
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: #161209;
    text-decoration: none;
    transition: color .2s ease,border-color .46s ease,background .46s ease,opacity .46s ease;
}

a:hover{
    color: #673ab7;
}
@media screen and (max-width: 780px){
    body{
        padding: 6px;
    }
}
@font-face {
    font-family: josefin sans;
    font-style: normal;
    font-weight: 400;
    src: url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot);
    src: local("Josefin Sans"),local("JosefinSans-Normal"),url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix) format("embedded-opentype"),url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2) format("woff2"),url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff) format("woff"),url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf) format("truetype"),url(//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans) format("svg")
}

.container {
    width: auto;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

}

.head{
    width: 100%;
    height: 64px;
}
.head-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    padding: 0 8px;
}

.sub-title {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 32px;
    margin-bottom: 82px;
}
.post-warp{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 780px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    padding: 46px 0;
}
@media screen and (max-width: 780px){
    .post-warp{
        min-height: calc(100vh - 132px);
    }
}

.markdow img{
    width: 100%;
}


.footer{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: center;
}

pre{
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.6;
    overflow: auto;
    padding: 16px;
}
hr{
    border-color: #673ab7;
}


/*Categories*/

.categories{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap:wrap;
}
.categories-card{
    width: 50%;
    margin-bottom: 46px;
    min-height: 250px;
    padding: 0 16px;
}
@media screen and (max-width: 780px){
    .categories-card{
        width: 100%;
    }
}
.icon{
    width: 16px;
    height: 16px;
}
.categories-article{
    text-indent: 2em;
}
.categories-article a{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Pagination*/

.pagination{
    display: flex;
    margin: 60px 0;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.pagination li{
    list-style-type: none;
    margin: 0 10px;
    width: 20px;
}
.pagination li a {
    text-align: center;
    display: block;
    width: 100%;
    color: #bfbfbf;
    padding-bottom: 6px;
}
.pagination li a:hover,.pagination .active a{
    border-bottom: 3px solid #673ab7;
}

/*Index*/
.articles{
    margin: 0;
    padding: 0;
}
.articles li{
    padding-bottom: 8px;
    list-style-type: none;
    margin: 40px 0;
    text-align: center;
 }

.articles li:after{
    content: '';
    display: block;
    margin: 60px auto;
    width: 10%;
    height: 1px;
    background: #ccc;
    text-align: center;
}

.articles li:last-child:after{
    display: none;
}
.read-all{
    display: inline-block;
    padding: 4px 20px;
    font-size: 14px;
    color: #fff;
    background: #673ab7;
    border: 2px solid #673ab7;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.read-all:hover{
    background: #fff;
}

.articles li .title{
    color: #555;
    font-size: 20px;
    font-weight: normal;
}
.articles li .title:hover{
    color: #673ab7;
}
.article-info{
    margin:20px 0 60px;
    color: #999;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-info img{
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
}
.article-info .divider-line{
    width: 2px;
    height: 16px;
    background: #999;
    margin: 0 14px;
}
.article{
    border-top: 1px solid #dcdcdc;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #dcdcdc;
}
.articles .description{
    color: #555;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    margin-bottom: 40px;
}
.sub{
    font-size: 14px;
}

/*other*/
